.dashboard-wrapper {
  
  .d-loader {
    .loader-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      span {
        color: #8a94a6;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .loader {
      height: 55px;
      border-radius: 15px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: start;

      .active {
        width: 40%;
        height: 55px;
        border-radius: 15px 0 0 15px;
        background: linear-gradient(90deg, #12d583 0%, #21eb66 100%);
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 15px;

        span {
          color: white;
          font-size: 32px;
          font-weight: 900;
        }
      }

      .in-active {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 15px;

        span {
          color: #8a94a6;
          font-size: 32px;
          font-weight: 900;
          margin-left: 60px;
        }
      }
    }
  }

  .count-info {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    gap: 20px 0;
    margin-top: 20px;

    .count-card {
      cursor: pointer;
      transition: 0.2s all;
      background: white;
      border-radius: 15px;
      padding: 16px;

      .header {
        margin-bottom: 15px;

        img {
          width: 32px;
          height: 32px;
          margin-right: 18px;
        }
        span {
          opacity: 0.8;
          color: #4e5d78;
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
        }
      }

      .count {
        display: flex;
        align-items: center;

        color: #4e5d78;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;

        span {
          color: #38cb89;
          font-size: 13px;
          font-weight: 600;
          margin-left: 12px;
        }
      }

      .more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        margin-top: 9px;

        .tag {
          width: 163px;
          min-height: 34px;
          padding-left: 14px;
          padding-right: 14px;
          padding-top: 5px;
          padding-bottom: 5px;
          background: #fafbfc;

          border-radius: 8px;

          .one {
            color: #b0b7c3;
            font-size: 13px;
            font-weight: 500;
            line-height: 24px;
          }
          .two {
            color: #4e5d78;
            font-size: 13px;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .chart-stats-container {
    margin-top: 20px;
    
    width: 100%;
    display: grid;
    height: 500px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    @media screen and (max-width:767px) {
      grid-template-columns: 1fr;
      height: auto;
    }
    .bar-chart-card {
      height: 100%;
      background-color: white;
      border-radius: 16px;
      padding: 20px;
      width: 100%;
     
      .bar-header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .bar-header-left {
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: flex-start;
          span{
            color:#B0B7C3;
            font-weight: 500;
            font-size: 18px;
            @media screen and (max-width:767px) {
             font-size: 14px;
            }
          }
          h3 {
            color: #4e5d78;
            font-size: 28px;
            font-weight: bold;
            @media screen and (max-width:767px) {
              font-size: 20px;
            }

            span {
              color: #38cb89;
              font-size: 13px;
             
            }
          }
        }
        .bar-header-right {
          background-color: #dfe2e7;
          padding: 4px 6px;
          border-radius: 8px;
          height: 40px;
          width: 331px;
          display: flex;
          // align-items: center;
          gap: 2px;
          @media screen and (max-width:767px) {
            width: 60%
          }
          button {
            background-color: transparent;
            border-radius: 8px;
            flex: 1;
            border: none;
          }
        }
      }
    }
    .pie-chart-card {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 16px;
      padding: 20px;
      width: 100%;
    }
    .pie-chart-bottom {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-inline: auto;
      width: 100%;
      gap: 20px;
      .pie-chart-title {
        flex: 1;
        background-color: #fafbfc;
        border-radius: 40px;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        .circle-div {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #ffab00;
        }
        span {
          color: #b0b7c3;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

